<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Yorum Analizi</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
</head>

<body style="background: #000;">
 <div class="login">
	<h1>Yorum Analizi</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="comment" placeholder="Yorum Analizi" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Analiz yap</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>
</body>
</html>